body
{
	padding-top: 120px;
    text-align: center;
	margin:15px;
	background-color: #E0FFFF;


}

.title
{
	font-family: arial;
	text-transform: uppercase;
	border: solid 2px black;
	color: black;


}
#botao
{
	
	font-size: 30px;
	
}
#clear
{
	
	font-size: 30px;
}	
	
.input
{
  font-size: 30px;
  border-radius: 5px;


}

footer
{
	padding-top: 250px;
	color: black;
}

/*----------------------------------RESPONSIVIDADE --------------------------------------*/
@media (max-width: 320px)
	{
	  body 
	{
		 font-size:10px ; 

	}
	.title
	{
		padding: 10px;
		margin:20px;
		margin-left: 25px;
	}
	h1 
	{
	  font-size: 20px;
	}

	.input
	{
		font-size: 20px;
		margin-left: 10px;
	}
	#botao
	{
		font-size: 20px;
		margin-left: 10px;
	}
	#clear 
	{
		font-size: 20px;
		margin-left: 5px;
	}
	.image
	{
		width: 100%;

	}
}
@media (max-width: 480px)
{
  .image
  {
     width: 100%;
  }
  .input
  {
	  margin-right: 15px;
  }
  #botao
  {
	  margin-right: 30px;
  }
  #clear
  {
	  margin-right: 20px;
  }
}
@media (max-width: 540px)
{
	.title
	{
		margin-left: 2px;
	}
	.input
	{
		margin-left: 20px;
	}
	#botao 
	{
		margin-left: 20px;
	}

	.image
	{
		width: 100%;
	}
}
@media (max-width: 280px)
{
	.title
	{
		margin-left: 20px;
	}
	#botao 
	{
		margin-right: 20px;
	}
	#clear
	{
	margin-right: 5px;
	}
	.input
	{
		margin-left: 10px;;
	}
}
@media (max-width: 375px)
{
    .title
	{
      margin-left: 20px;
	}
	.input
	{
		margin-left: 10px;
	}
	.image
	{
		width: 100%;
	}

}
@media (max-width: 360px)
	
{
	#botao
	{
		margin-right: 10px;;
	}
}

