body
{
	padding-top: 120px;
    text-align: center;
	margin:15px;
	background-color: #E0FFFF;


}




.title
{
	font-family: arial;
	text-transform: uppercase;
	border: solid 2px black;
	color: black;


}
#botao
{
	
	font-size: 30px;
	
}
#clear
{
	
	font-size: 30px;
}	
	
.input
{
  font-size: 30px;
  border-radius: 5px;


}

footer
{
	padding-top: 250px;
	color: black;
}


@media (max-width: 320px)
	{
	  body 
	{
		 font-size:10px ; 

	}
	.title
	{
		padding: 10px;
		margin:20px;
		margin-left: 25px;
	}
	h1 
	{
	  font-size: 20px;
	}

	.input
	{
		font-size: 20px;
		margin-left: 10px;
	}
	#botao
	{
		font-size: 20px;
		margin-left: 10px;
	}
	#clear 
	{
		font-size: 20px;
		margin-left: 5px;
	}
	.image
	{
		width: 100%;

	}
}
